* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

header h3 {
    color: black;
    line-height: 70px;
    font-size: 45px;
}


body {
    background-image: url(https://prod-images.viu.com/clip_asset_v6/1143930647/1165895928/3ceb321edad15f600fcb58aa554531587615f0f3);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-size: 45px;
    padding-top: 15px;
    text-shadow: 5px 5px 10px rgb(0, 0, 0), 0 0 40px rgb(2, 2, 2), 0 0 20px rgb(0, 0, 0);
    color: aliceblue;
}

h2 {
    text-align: center;
    font-size: 30px;
    background-color: white;
}

p {
    text-align: center;
    font-size: 35px;
    font-style: italic;
}

div {
    width: 900px;
    margin: auto;
    padding: 15px 15px 15px 15px;
    text-align: justify;
    border-left: 5px solid white;
    border-right: 5px solid white;
    outline-color: black;
    font: optional;
}

ul {
    list-style-type: circle;
    font-size: large;
}

table, th, td{
    border: 1px solid rgb(247, 247, 247);
    margin: auto;
    text-align: center;
}

img {
    width: 450px;
}

.double {
    outline-style: double;
}

.fa-bilibili {
    color: rgb(53, 0, 139);
    font-size: 2em;
    margin-top: 20px;
}

a {
    color: rgb(255, 255, 255);
    text-align: center;
  }